<header
  class="flex items-center flex-col gap-5 tablet:flex-row tablet:justify-between tablet:pt-[9px] desktop:pt-[19px]"
>
  <h2 class="logo">adamkeyes</h2>
  <nav class="tablet:mr-5">
    <a
      href="https://github.com/Zakaria9375"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/images/icon-github.svg" alt="Github profile" />
    </a>
    <a
      href="https://www.frontendmentor.io/profile/Zakaria9375"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="assets/images/icon-frontend-mentor.svg"
        alt="Frontend Mentor profile"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/zakaria-ali-java/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/images/icon-linkedin.svg" alt="Linkedin profile" />
    </a>
    <a
      href="https://www.linkedin.com/in/zakaria-ali-java/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/images/icon-twitter.svg" alt="Twitter profile" />
    </a>
  </nav>
</header>

<section
  class="mt-[331px] tablet:mt-[90px] desktop:mt-[127px] desktop:pb-[116px] desktop:mb-[115px] desktop:relative intro "
>
  <div
    class="mobile:flex mobile:text-center flex-col items-center tablet:max-w-[445px] desktop:max-w-[710px]"
  >
    <h1 class="heading-xl">
      <span class="justTablet:block">Nice to </span>
      <span class="justTablet:block tablet:mb-[11px]">meet you! <br class="hidden desktop:block"/>I’m </span>
      <span class="underline decoration-mint decoration-4 underline-offset-8 tablet:underline-offset-[15px] desktop:underline-offset-[18px]">Adam Keyes</span>.
    </h1>
    <p
      class="my-6 tablet:mt-[66px] tablet:mb-[34px] desktop:mt-[43px] desktop:mb-[66px] body-m mobile:text-[1rem] mobile:leading-[1.625rem] text-grey desktop:max-w-[445px]"
    >
      Based in the UK, I’m a front-end developer passionate about building
      accessible web apps that users love.
    </p>
    <a href="#contact-me" class="pb-3 mt-6 link">contact me</a>
  </div>
  <picture class="pic">
    <source
      media="(min-width: 992px)"
      srcset="assets/images/image-profile-desktop.webp"
    />
    <source
      media="(min-width: 768px)"
      srcset="assets/images/image-profile-tablet.webp"
    />
    <img
      src="assets/images/image-profile-mobile.webp"
      alt="Adam Keyes personal photo"
      class="object-[100%]"
    />
  </picture>
</section>

<section
  class="my-20 tablet:mb-[60px] desktop:mb-[100px] mobile:border-y border-y-white tablet:border-t tablet:border-t-white py-10 tablet:pt-[53px] desktop:pt-[73px] mobile:space-y-6 mobile:text-center tablet:flex tablet:flex-wrap tablet:gap-y-[52px] tablt:gap-x-[7px] desktop:gap-y-[58px] desktop:gap-x-[32.5px] app-skills"
>
  @for (skill of skills; track $index) {
  <article class="tablet:basis-1/2 desktop:basis-[31.36%]">
    <h2
      class="heading-l mobile:text-[2rem] mobile:leading-[1.25] mobile:tracking-[-1px]"
    >
      {{ skill.title }}
    </h2>
    <h3
      class="capitalize mobile:mt-[1px] tablet:mt-[14px] body-m mobile:text-[1rem] mobile:leading-[1.625rem] text-grey"
    >
      {{ skill.experience }}
    </h3>
  </article>
  }
</section>

<section class="mb-20 tablet:mb-[100px] desktop:mb-[139px]">
  <div
    class="flex justify-between items-center pb-10 tablet:pb-[60px] desktop:pb-[80px]"
  >
    <h2 class="heading-xl">Projects</h2>
    <a href="#contact-me" class="link pb-[10px]">contact me</a>
  </div>
  <div
    class="mobile:space-y-10 tablet:flex flex-wrap tablet:gap-x-5 tablet:gap-y-[60px] desktop:gap-x-[2%] desktop:gap-y-[69px]"
  >
    @for (project of projects; track $index) {
    <article
      class="tablet:basis-[48.5%] desktop:basis-[49%] relative overflow-hidden project group"
    >
      <picture class="project-img relative group-hover:after:top-0 ">
        <source
          media="(min-width: 768px)"
          [srcset]="'assets/images/' + project.photo.large"
        />
        <img [src]="'assets/images/' + project.photo.small" alt="" class="max-h-[400px]"/>
      </picture>
      <h3 class="uppercase heading-m mt-5">{{ project.title }}</h3>
      <ul class="flex gap-x-[19px] mobile:mb-5 mt-[7px]">
        @for (tech of project.technologies; track $index) {
        <li class="uppercase body-m text-grey">{{ tech }}</li>
        }
      </ul>
      <div
        class="project-links flex gap-x-8 desktop:absolute desktop:flex-col desktop:gap-y-12 desktop:items-center desktop:left-1/2 desktop:top-1/2 desktop:-translate-x-1/2 desktop:-translate-y-[400px] z-10 duration-200 group-hover:desktop:-translate-y-3/4"
      >
        <a href="/" class="link pb-[10px]">view project</a>
        <a href="/" class="link pb-[10px]">view code</a>
      </div>
    </article>
    }
  </div>
</section>

<section
  id="contact-me"
  class="pt-[60px] desktop:pt-[84px] pb-[87px] tablet:pb-[92px] flex flex-col items-center desktop:items-start desktop:flex-row desktop:justify-between"
>
  <div class="mb-[50px] max-w-[445px] flex-1">
    <h2 class="heading-xl mb-5 desktop:mb-[35px] text-center desktop:text-left">
      Contact
    </h2>
    <p
      class="text-grey text-center desktop:text-left body-m mobile:text-[1rem] mobile:leading-[1.625rem]"
    >
      I would love to hear about your project and how I could help. Please fill
      in the form, and I’ll get back to you as soon as possible.
    </p>
  </div>
  @if (!isSubmitted) {
  <form
    class="max-w-[445px] flex-1"
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
  >
    <div [class.input-wrapper]="name.invalid && name.touched">
      <input
        type="text"
        placeholder="name"
        name="name"
        required
        minlength="3"
        aria-label="Full Name"
        [(ngModel)]="contact.name"
        #name="ngModel"
        [class.error]="name.invalid && name.touched"
        [class.valid]="name.valid && name.dirty"
      />
      <p
        role="alert"
        class="error-msg"
        *ngIf="name.hasError('required') && name.touched"
      >
        Reuired Field
      </p>
      <p
        role="alert"
        class="error-msg"
        *ngIf="
          name.hasError('minlength') &&
          !name.hasError('required') &&
          name.touched
        "
      >
        Minimum 3 characters
      </p>
    </div>
    <div class="mt-8" [class.input-wrapper]="email.invalid && email.touched">
      <input
        type="email"
        placeholder="email"
        name="email"
        required
        email
        aria-label="Email Address"
        [(ngModel)]="contact.email"
        #email="ngModel"
        [class.error]="email.invalid && email.touched"
        [class.valid]="email.valid && email.dirty"
      />
      <p
        role="alert"
        class="error-msg"
        *ngIf="email.hasError('required') && email.touched"
      >
        Reuired Field
      </p>
      <p
        role="alert"
        class="error-msg"
        *ngIf="
          !email.hasError('required') &&
          email.hasError('email') &&
          email.touched
        "
      >
        Sorry! invalid format here
      </p>
    </div>
    <div
      class="mt-8"
      [class.input-wrapper]="message.invalid && message.touched"
    >
      <textarea
        placeholder="message"
        name="message"
        required
        aria-label="Message"
        [(ngModel)]="contact.message"
        #message="ngModel"
        [class.error]="message.invalid && message.touched"
        [class.valid]="message.valid && message.dirty"
        class="h-[107px]"
      ></textarea>
      <p
        role="alert"
        class="error-msg"
        *ngIf="message.invalid && message.touched"
      >
        Reuired Field
      </p>
    </div>

    <p
      role="alert"
      class="error-msg"
      *ngIf="contactForm.invalid && contactForm.submitted"
    >
      Falied! Please enter all fields correctly.
    </p>

    <div class="flex justify-end  mt-6">
      <button type="submit" class="link pb-[10px]">send message</button>
    </div>
  </form>
  } @else {
  <div class="max-w-[445px] flex-1 text-center">
    <h2 class="heading-xl text-mint">Thank you</h2>
    <h3 class="heading-m mt-6 text-grey">Your message has been recieved</h3>
  </div>
  }
</section>

<footer
  class="border-t border-t-white mobile:pt-10 tablet:pt-8 desktop:pt-12 flex flex-col items-center gap-y-5 tablet:flex-row tablet:justify-between mobile:pb-5 desktop:pb-[52px]"
>
  <h2 class="logo">adamkeyes</h2>
  <nav class="tablet:gap-[30px]">
    <a
      href="https://github.com/Zakaria9375"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/images/icon-github.svg" alt="got to my Github profile" />
    </a>
    <a
      href="https://www.frontendmentor.io/profile/Zakaria9375"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="assets/images/icon-frontend-mentor.svg"
        alt="go to my Frontend Mentor profile"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/zakaria-ali-java/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="assets/images/icon-linkedin.svg"
        alt="got to my linkedin profile"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/zakaria-ali-java/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="assets/images/icon-twitter.svg"
        alt="got to my twitter profile"
      />
    </a>
  </nav>
</footer>
